.navbar-brand{
	padding-top: 12px;
}

.panel-default{
	margin-left: 10px;
	margin-right: 10px;
}
.alert{
	margin-left: 10px;
	margin-right: 10px;
}
.link-panel-align-right{
	float: right;
	padding: 0px;
}
.titulo-panel-align-left{
	float: left;
}
